html {
    height: 100%;
    margin: 0px;
}

body {
    height: 100%;
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: initial;
    text-decoration: initial;
}

.d-none {
    display: none !important;
}

button {
    border: 0;
    outline: 0;
}

/* -------------------------------------------------------------- */

.overflow {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

:root {
    --shadow : 0 1px 2px rgba(0,0,0,0.05),0 1px 4px rgba(0,0,0,0.05),0 2px 8px rgba(0,0,0,0.05);
}

/* -------------------------------------------------------------- */

.float-content {
    width:1200px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    min-height:inherit;
    /* opacity: 0.7;     */
    /* height: inherit; */
}

/* -------------------------------------------------------------- */

#root {
    height: 100%;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header header" 
    "body body"
    "footer footer";
}

#root>#header {
    width: 100%;
    height: 70px;
    grid-area: header;
    position :fixed;
    background-color: white;
    overflow: hidden;
    display: flex;
    z-index: 999;
}

#root>#footer {
    background-color: #767676;
    grid-area: footer;
}

#body {
    grid-area: body;
    
}
    #body .float-content {
        height: 100%;
        display: grid;  
        grid-template-columns: 200px 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "aside main";
    }

#aside {
    grid-area: aside;
    border-right: solid #e4e6e8 1px;
    /* margin-top: 10px;
    background-color: white;
    position: fixed;
    width: 200px; */
}

#main {  
    grid-area: main;
    padding: 20PX;
    margin: 10px;
}

/* -----------header design--------------------------------------------------- */

#root>#header { 
    border-bottom: solid 2px orange;
    box-shadow: var(--shadow);

}

#header>.float-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo-title-container {
    display: inline-block;
    width: 120px;
    /* height: 35px; */
    min-height: inherit;
}

    .logo-title-container>img {
        width: 120px;
        height: auto;
        margin-top: 7px;
        /* margin-bottom: auto; */
    }

.main-menu, .member-menu {
        font-size: 14px;
        font-weight: 500;
        width: 500px;  
        display: inline-block;
        height: 30px;
        padding-top: 12px;
    }
    
    .main-menu>ul, .member-menu>ul { 
        height: 100%;
        width: 80%;
        --margin: 0;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    
    .main-menu>ul>li>a, .member-menu a {
        display: inline-block;
        color: #4B4B4B;   
        line-height: 30px;   
        cursor: pointer;
        transition: 200ms;
        padding: 0px 16px;
    }

    .main-menu>ul>li>a:hover {
        background-color: #eff0f1;
        color: black;
        border-radius: 15px;
    } 

    .member-menu {
        width: 200px;
    }

    .member-menu a {
        padding: 0;
    }

    .member-menu a:hover {
        color: black;
    }

.aside-menu {
    margin-right: 0px;
    margin-top: 70px;
}

    .aside-menu>ul {
        padding-top: 20px;
    }

        .aside-menu>ul>li {
            margin-bottom: 14px;
            margin-left: 5px;
            height: 33px;
        }

    .aside-menu a {
        color: #4B4B4B;
        font-weight: 500;
        line-height: 33px;
        display: flex;
        justify-content: flex-start; 
        transition: 200ms; 
        padding-left: 4px;
    }

    .current-page, .aside-menu a:hover {
        background-color: #eff0f1;
        border-right: 5px orange solid;
        border-radius: 3px;
    }

#main {
    grid-area: main;
}

    #main>section {
        margin: 30px 40px 20px;
    }

    #main h1 {
        text-align: center;
        font-size: 23px;
    }

    table {
        border: 1.5px solid #e9e9e9;
        margin: 40px auto;
        width: 700px;
        font-size: 15px;
        color: rgb(82, 82, 82);
        border-collapse: collapse;
        table-layout: fixed;
    }

        table>thead {
            background-color: #e9e9e9;
            text-align: center;
        }

        table .w-0 {
            width: 70px;
            text-align: center;
        }

        table .w-1 {
            width: 120px;
            text-align: center;
        }
        
        table .w-2 {
            width: 150px;
            text-align: center;
        }

        table .diary-content {
            padding-left: 10px;
        }
        
        table tr {
            height: 35px;
        }

        table td {
            border-bottom: 1px solid #e9e9e9;
        }

    .pager {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        height: 24px;
    }

        .pager>ul {
            display: flex;
            margin: 0 20px;
        }

        .pager li {
            margin-right: 20px;
        }

        .pager li:nth-child(4) {
            margin-right: 0;
        }

        .prev, .next {
            width: 20px;
            height: 20px;
        }

        
@media screen and (max-width:500px) {
    #root{
        grid-template-columns: 1fr;
        grid-template-rows: 55px 1fr 70px;
        grid-template-areas: 
        "header"
        "body"
        "footer";
    }

    #body .float-content {
        grid-template-rows: 50px 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "aside"
        "main";
    }

    #root>#header {
        width: 100%;
        height: 55px;
    }
    
    .aside-menu {
        margin: 0;
    }
} 